@use "sass:map";
@use "./../../colors.scss";

.mainContainer__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://t4.ftcdn.net/jpg/04/85/69/33/360_F_485693313_SgtIBVmDIvjeMhjkmzv7sAu83qd1Iokd.jpg);
}



.mainContainer {
    height: 100%;
    max-height: 60vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background: rgba(72, 146, 108, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(72, 146, 108, 0.14);
}