@use "sass:map";
@use "./../../colors.scss";

.mainContainer__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-image: url(../../assets/bg-stars.png);
}

.mainContainer {
    font-family: "Nunito", sans-serif;
    height: 100%;
    max-height: 60vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.2) 0px 15px 12px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    & h1 {
        font-size: 36px;
    }

    & h2 {
        font-size: 30px;
    }
}