@use "sass:map";
@use "./../../colors.scss";

button {
    font-size: 16px;
    color: map.get(colors.$bgl-colors, white);

    &::after {
        background-color: map.get(colors.$bgl-colors, white);
    }
}