@use "sass:map";
@use "../../colors.scss";

@mixin animate-opacity($duration, $delay) {
    animation: mymove $duration ease-out $delay;
}

@mixin keyframes-opacity {
    @keyframes mymove {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.title {
    position: relative;
    @include animate-opacity(1.5s, 0s);
}

.button {
    position: relative;
    @include animate-opacity(2s, 0s);
}

svg path {
    fill: map.get(colors.$bgl-colors, white);
    position: relative;
    @include animate-opacity(2.5s, 0s);
}

@include keyframes-opacity;